<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canans Projects</title>
    <!-- <link rel="stylesheet" href="/static/css/stle.css"> -->
    <link rel="stylesheet" href="../static/css/stle.css">


    <link rel="shortcut icon" href="./images/aboutme3.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar background">
        <div class="logo">
            <div class="logos">
                <img src="images/deal.png" alt="">
                <span>Canan Dev</span>
            </div>
            <p>Web Dev!</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#about">About</a></li> -->
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contacts">Contact</a></li>
            <!-- <li><a href="#">List</a>
            <ul class="dropdown">
                <li><a href="#">html</a></li>
                <li><a href="#">css</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
            </li> -->
            <li><a href="/project">Project</a></li>
            <li><a href="#">Reviews</a></li>
        </ul>
        <!-- <div class="rightnav">
            <input type="search" name="search" id="search" placeholder="Seaech Website">
            <button type="button" class="btn-sm">Search</button>
        </div> -->
    </nav>
    <section class="bg-project ">
        <!-- <h1>My Project</h1> -->
        <div class="containers">
            <div class="tab-nav">
                <ul class="tab_naviagtion">
                    <!-- <li class="tab_one"><a href="#tab_1">All</a></li> -->
                    <li class="tab_one"><a>All</a></li>
                    <li class="tab_two"><a>Landing Page</a></li>
                    <li class="tab_thr"><a>Webistes</a></li>
                    <li class="tab_for"><a>Full Stack</a></li>
                </ul>
            </div>
            <!-- <div class="project-content"> -->
            <!-- <h1>Our Projects</h1> -->
            <div class="project-content hide_area my-5" id="tab_1">
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 02</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 03</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 04</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 05</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 06</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="project-content hide_area my-5" id="tab_2">
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\0_QYxNNYh6W9jO1b_-.png" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\0_QYxNNYh6W9jO1b_-.png" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\0_QYxNNYh6W9jO1b_-.png" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 04</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\0_QYxNNYh6W9jO1b_-.png" alt="">
                        <div class="text-project">
                            <h1>Procject 05</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="project-content hide_area my-5" id="tab_3">
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\bgs.jpg" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\bgs.jpg" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\bgs.jpg" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\bgs.jpg" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="project-content hide_area my-5" id="tab_4">
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\images.jpeg" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static\images\images.jpeg" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="project-img">
                        <img src="static/images/process-img-1.webp" alt="">
                        <div class="text-project">
                            <h1>Procject 01</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates excepturi est ut
                                similique distinctio. Voluptatibus, fugit quia. Similique, iure. Dolorum voluptatibus
                                omnis totam ullam quia est ea suscipit quaerat doloribus numquam aperiam in, repellat
                                veniam neque asperiores libero temporibus. In fuga voluptatibus fugiat explicabo alias
                                sequi minus? Quos, numquam recusandae.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- </div> -->
        </div>
    </section>

    <footer>
        <p>Copy Right All Right Are Reserved Develop By <a href="" style="color: white;">Mr.Canan</a> 2026.</p>
    </footer>
    <script>
        let tab_1 = document.getElementById("tab_1");
        let tab_2 = document.getElementById("tab_2");
        let tab_3 = document.getElementById("tab_3");
        let tab_4 = document.getElementById("tab_4");

        document.querySelector(".tab_one").addEventListener("click", () => {
            tab_1.style.display = 'grid';
            window.location.href = '#tab_1'
            tab_2.style.display = 'none';
            tab_3.style.display = 'none';
            tab_4.style.display = 'none';
        })
        document.querySelector(".tab_two").addEventListener("click", () => {
            tab_2.style.display = 'grid';
            window.location.href = '#tab_2'
            tab_1.style.display = 'none';
            tab_3.style.display = 'none';
            tab_4.style.display = 'none';
        })
        document.querySelector(".tab_thr").addEventListener("click", () => {
            tab_3.style.display = 'grid';
            window.location.href = '#tab_3';
            tab_2.style.display = 'none';
            tab_4.style.display = 'none';
            tab_1.style.display = 'none';
        })
        
        document.querySelector(".tab_for").addEventListener("click", () => {
            tab_4.style.display = 'grid';
            tab_3.style.display = 'none';
            window.location.href = '#tab_4';
            tab_2.style.display = 'none';
            tab_1.style.display = 'none';
        })


        // let tab_navigate = document.querySelector('.tab_naviagtion').children.item(1)
        // console.log(tab_navigate)


    </script>
</body>

</html>