<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/stle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar background">

        <div class="logo">
            <div class="logos">
                <img src="images/deal.png" alt="">
                <span>Canan Dev</span>
            </div>
            <p>Web Dev!</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#about">About</a></li> -->
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contacts">Contact</a></li>
            <!-- <li><a href="#">List</a>
            <ul class="dropdown">
                <li><a href="#">html</a></li>
                <li><a href="#">css</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
            </li> -->
            <li><a href="/project">Project</a></li>
            <li><a href="/reviews">Reviews</a></li>
        </ul>
        <!-- <div class="rightnav">
            <input type="search" name="search" id="search" placeholder="Seaech Website">
            <button type="button" class="btn-sm">Search</button>
        </div> -->
    </nav>
    <section>
        <div class="service-box">
            <h1 class="text-center">Servies US</h1>
            <div class="servces containers">
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Web Development</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto beatae
                            voluptatum ducimus totam distinctio, exercitationem sequi eaque corporis rerum. Maiores
                            ducimus, temporibus quae quis animi obcaecati, rerum voluptatem fugit ad odit repellendus
                            unde dolorum corrupti error eligendi hic at neque sapiente, molestiae earum in aperiam?
                            Atque earum id ad!</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>App Development</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto beatae
                            voluptatum ducimus totam distinctio, exercitationem sequi eaque corporis rerum. Maiores
                            ducimus, temporibus quae quis animi obcaecati, rerum voluptatem fugit ad odit repellendus
                            unde dolorum corrupti error eligendi hic at neque sapiente, molestiae earum in aperiam?
                            Atque earum id ad!</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Search Engine Optimize</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto beatae
                            voluptatum ducimus totam distinctio, exercitationem sequi eaque corporis rerum. Maiores
                            ducimus, temporibus quae quis animi obcaecati, rerum voluptatem fugit ad odit repellendus
                            unde dolorum corrupti error eligendi hic at neque sapiente, molestiae earum in aperiam?
                            Atque earum id ad!</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Digital Marketing</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto beatae
                            voluptatum ducimus totam distinctio, exercitationem sequi eaque corporis rerum. Maiores
                            ducimus, temporibus quae quis animi obcaecati, rerum voluptatem fugit ad odit repellendus
                            unde dolorum corrupti error eligendi hic at neque sapiente, molestiae earum in aperiam?
                            Atque earum id ad!</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Data Analysis</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto beatae
                            voluptatum ducimus totam distinctio, exercitationem sequi eaque corporis rerum. Maiores
                            ducimus, temporibus quae quis animi obcaecati, rerum voluptatem fugit ad odit repellendus
                            unde dolorum corrupti error eligendi hic at neque sapiente, molestiae earum in aperiam?
                            Atque earum id ad!</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Data Cleaning</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto beatae
                            voluptatum ducimus totam distinctio, exercitationem sequi eaque corporis rerum. Maiores
                            ducimus, temporibus quae quis animi obcaecati, rerum voluptatem fugit ad odit repellendus
                            unde dolorum corrupti error eligendi hic at neque sapiente, molestiae earum in aperiam?
                            Atque earum id ad!</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Machine Learning Algorithums</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto beatae
                            voluptatum ducimus totam distinctio, exercitationem sequi eaque corporis rerum. Maiores
                            ducimus, temporibus quae quis animi obcaecati, rerum voluptatem fugit ad odit repellendus
                            unde dolorum corrupti error eligendi hic at neque sapiente, molestiae earum in aperiam?
                            Atque earum id ad!</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Business Growth</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto beatae
                            voluptatum ducimus totam distinctio, exercitationem sequi eaque corporis rerum. Maiores
                            ducimus, temporibus quae quis animi obcaecati, rerum voluptatem fugit ad odit repellendus
                            unde dolorum corrupti error eligendi hic at neque sapiente, molestiae earum in aperiam?
                            Atque earum id ad!</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>DataBases</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto beatae
                            voluptatum ducimus totam distinctio, exercitationem sequi eaque corporis rerum. Maiores
                            ducimus, temporibus quae quis animi obcaecati, rerum voluptatem fugit ad odit repellendus
                            unde dolorum corrupti error eligendi hic at neque sapiente, molestiae earum in aperiam?
                            Atque earum id ad!</p>
                    </div>
                </div>
                <div class="service">
                    <div class="ser-img">
                        <img src="static/images/0_QYxNNYh6W9jO1b_-.png" alt="">
                    </div>
                    <div class="ser-info">
                        <h1>Content Writer</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto beatae
                            voluptatum ducimus totam distinctio, exercitationem sequi eaque corporis rerum. Maiores
                            ducimus, temporibus quae quis animi obcaecati, rerum voluptatem fugit ad odit repellendus
                            unde dolorum corrupti error eligendi hic at neque sapiente, molestiae earum in aperiam?
                            Atque earum id ad!</p>
                    </div>
                </div>
            </div>
            <div class="btn-sliders">
                <button id="btn-slide-right">Left<i class="fas fa-long-arrow-left"></i></button>
                <button id="btn-slide-left">Right<i class="fas fa-long-arrow-left"></i></button>
            </div>
        </div>
    </section>
    <section class="process-sec my-5">
        <h1 class="text-center">Services Process</h1>
        <div class="services-process containers">
            <div class="ser-proces">
                <h3>01</h3>
                <h2>Services Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem? Labore, quaerat!</p>
                <!-- <button>Read More</button> -->
            </div>
            <div class="ser-proces">
                <h3>02</h3>
                <h2>Services Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem? Labore, quaerat!</p>
            </div>
            <div class="ser-proces">
                <h3>03</h3>
                <h2>Services Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem? Labore, quaerat!</p>
            </div>
            <!-- <div class="ser-proces">
                <h3>03</h3>
                <h2>Services Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem? Labore, quaerat!</p>
            </div> -->
        </div>
         <div class="services-process containers">
            <div class="ser-proces">
                <h3>04</h3>
                <h2>Services Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem? Labore, quaerat!</p>
                <!-- <button>Read More</button> -->
            </div>
            <div class="ser-proces">
                <h3>05</h3>
                <h2>Services Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem? Labore, quaerat!</p>
            </div>
            <div class="ser-proces">
                <h3>06</h3>
                <h2>Services Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem? Labore, quaerat!</p>
            </div>
            <!-- <div class="ser-proces">
                <h3>03</h3>
                <h2>Services Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem? Labore, quaerat!</p>
            </div> -->
        </div>
           <!-- <div class="services-process containers">
            <div class="ser-proces">
                <h3>01</h3>
                <h2>Services Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem? Labore, quaerat!</p>
            </div>
            <div class="ser-proces">
                <h3>02</h3>
                <h2>Services Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem? Labore, quaerat!</p>
            </div>
            <div class="ser-proces">
                <h3>03</h3>
                <h2>Services Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, ad. Corporis recusandae nemo repellendus rerum cupiditate, dolorum eum non in maxime, est sequi id eligendi odit aut dolorem? Labore, quaerat!</p>
            </div>
        </div> -->

    </section>
       <footer>
        <p>Copy Right All Right Are Reserved Develop By <a href="" style="color: white;">Mr.Canan</a> 2026.</p>
    </footer>


    <script>
        // let services = document.querySelector(".service");
        let services = document.querySelectorAll(".service");
        let btnRight = document.getElementById("btn-slide-left");
        let btnLeft = document.getElementById("btn-slide-right");

        // let count = 1;
        let count = 0;
        btnLeft.addEventListener("click", () => {
            if (count > 0) {
                count--;
            }
            services.forEach(val => {
                val.style.transform = `translateX(${count * -100}%)`;
            });
            // console.log(count)

        })
        btnRight.addEventListener("click", (e) => {
            // console.log(count)
            if (count < services.length - 3) {
                count++;
                // return ;
                // count = 0
            } else {
                count = 0;
            }
            // count = 0
            // else{
            // count = 0
            // }
            // console.log(count)
            // alert("cn")
            // services.classList.add("active")
            services.forEach(val => {
                // val.style.transform = 'translateX(-100%)'
                // val.style.transform = `translateX(-${count * 100}%)`

                // val.style.transform = `translateX(${count * -100}%)`;
                // val.style.transform = `translateX(${count * -420}px)`;
                val.style.transform = `translateX(${count * -410}px)`;
                // count++;


                // console.log(count)
                // }
                // val.style.transform = `translateX(${count * -100%})`
                // if (count >= 1) {
                //     val.classList.add("active")
                // }

            }
            )

        })


    </script>
</body>

</html>